.main-Contain {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url('../../../assets/images/common/bg.png') no-repeat 0 0;
  background-size: 100% 100%;
  .logo {
    width: 298px;
    height: 28px;
    margin-top: 70px;
    margin-left: 30px;
  }
  .slogan {
    width: 100%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    img {
      width: 562px;
      height: 125px;
    }
  }
  .video {
    width: 100%;
    height: calc(~"100% - 750px");
    margin-top: 90px;
    background-color: aliceblue;
    video {
      width: 100%;
      height: 100%;
    }
    //#app {
    //  height: 100%;
    //  .container {
    //    height: 100%;
    //    .__cov-video-container {
    //      height: 100%;
    //    }
    //  }
    //}
  }
  .flower-one {
    width: 148px;
    height: 96px;
    position: fixed;
    left: 0;
    top: 340px;
    z-index: 1;
    animation: fadeIn 2s 1;
  }
  .flower-two {
    width: 157px;
    height: 70px;
    position: fixed;
    left: 0;
    //top: calc(~"100% - 1000px)");
    z-index: 1;
    animation: fadeIn 3s 1;
  }
  .flower-three {
    width: 73px;
    height: 154px;
    position: fixed;
    right: 0;
    top: 346px;
    z-index: 1;
    animation: fadeIn 3s 1;
  }
  .ring {
    width: 118px;
    height: 145px;
    position: fixed;
    left: 40px;
    bottom: 40px;
    animation: fadeIn 2s 1;
  }
  .lzl {
    width: 353px;
    height: 458px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 9147483647;
    animation: fadeIn 3s 1;
  }
  .playGame {
    width: 100%;
    position: fixed;
    bottom: 90px;
    left: 0;
    text-align: center;
    button {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      padding: 14px 6px;
      border: none;
      border-radius: 20px;
      text-decoration: none;
      color: #423E45;
      font-size: 14PX;
      font-weight: 500 !important;
      background-color: #8F7EB3;
      box-shadow: 0 2PX 0 #887ba5, 0 6PX 3PX rgba(0, 0, 0, 0.3);
      outline: none;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}