.userInfo-contain {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url('../../../assets/images/common/bg.png') no-repeat 0 0;
  background-size: 100% 100%;
  //.bmg {
  //  width: 58px;
  //  height: 58px;
  //  position: fixed;
  //  right: 30px;
  //  top: 30px;
  //  .bmg-start {
  //    width: 58px;
  //    height: 58px;
  //    animation: 3s linear infinite CDturn;
  //  }
  //  .bmg-stop {
  //    width: 58px;
  //    height: 58px;
  //  }
  //  @keyframes CDturn {
  //    from {
  //      transform: rotate(0deg)
  //    }
  //    to {
  //      transform: rotate(360deg)
  //    }
  //  }
  //}
  .logo {
    width: 298px;
    height: 28px;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: 30px;
  }
  .form {
    height: calc(~"88% - 200px - 80px - 16px");
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 6% 0 10% 0;
    border: 8px solid #A290C2;
    background-color: #B4A3CD;
    border-radius: 30px;
    .form-contain {
      position: relative;
      top: 40%;
      transform: translateY(-40%);
      & > div {
        height: 10%;
        padding: 0 90px;
      }
      input {
        width: 100%;
        padding: 14px 0;
        background-color: #C5B6D8;
        border-radius: 20px;
        border: none;
        text-indent: 1em;
        -webkit-appearance: none;
        &:focus {
          border: none;
          outline: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
          -webkit-user-modify: read-write-plaintext-only;
        }
      }
      .title {
        padding: 8px 90px;
        color: #504f50;
        font-size: 14PX;
        font-weight: 500 !important;
      }
      .picker-title {
        padding-top: 20px;
      }
      .user-name {
        input {
          color: #504f50;
          font-size: 14PX;
          font-weight: 500 !important;
        }
      }
      .mobile {
        input {
          color: #504f50;
          font-size: 14PX;
          font-weight: 500 !important;
        }
      }
      .area {
        .vux-cell-box {
          &:before {
            border-top: none;
          }
          .weui-cell {
            height: 100%;
            padding: 8px 0;
            background-color: #C5B6D8;
            border-radius: 20px;
            border: none;
            text-indent: 1em;
            .vux-popup-picker-value {
              color: #504f50;
              font-size: 14PX;
              font-weight: 500 !important;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 1;
              overflow: hidden;
            }
          }
        }
      }
      .user-type {
        .vux-cell-box {
          &:before {
            border-top: none;
          }
          .weui-cell {
            height: 100%;
            padding: 8px 0;
            background-color: #C5B6D8;
            border-radius: 20px;
            border: none;
            text-indent: 1em;
            .vux-popup-picker-value {
              color: #504f50;
              font-size: 14PX;
              font-weight: 500 !important;
            }
          }
        }
      }
      .company-name {
        input {
          color: #504f50;
          font-size: 14PX;
          font-weight: 500 !important;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 1;
          overflow: hidden;
        }
      }
      .submit {
        padding-top: 40px;
        text-align: center;
        button {
          width: 200px;
          margin-left: auto;
          margin-right: auto;
          padding: 14px 6px;
          border: none;
          border-radius: 20px;
          text-decoration: none;
          color: #423E45;
          font-size: 14PX;
          font-weight: 500 !important;
          background-color: #8F7EB3;
          box-shadow: 0 2PX 0 #887ba5, 0 6PX 3PX rgba(0, 0, 0, 0.3);
          outline: none;
        }
      }
    }
    .fill {
      height: 46px;
    }
    .active {
      color: #615B66 !important;
      background-color: rgba(143, 126, 179, 0.6) !important;
    }
  }
  .flower-one {
    width: 146px;
    height: 109px;
    position: fixed;
    left: 0;
    top: 160px;
    animation: fadeIn 3s 1;
  }
  .flower-two {
    width: 96px;
    height: 203px;
    position: fixed;
    right: 0;
    top: 390px;
    animation: fadeIn 3s 1;
  }
  .flower-three {
    width: 22px;
    height: 18px;
    position: absolute;
    left: 30px;
    bottom: 140px;
    animation: fadeIn 3s 1;
  }
  .ring {
    width: 179px;
    height: 195px;
    position: fixed;
    left: 40px;
    top: calc(~"88% - 200px - 80px - 16px + 220px");
    animation: fadeIn 3s 1;
  }
  .lzl {
    width: 281px;
    height: 358px;
    position: fixed;
    right: 0;
    bottom: 0;
    animation: fadeIn 3s 1;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}